
    @* @Model Autor; *@

    <p>

        <h1>Desde la vista normal</h1>
        <br />
    <br />
    <br />
    <h1>Informacion del Autor</h1>
    <h2>id:@Model.IdAutor</h2>
    <h2>Nombre:@Model.Nombre</h2>
    <h2>Apellido:@Model.Apellido</h2>
    </p>

